* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
}

// typography//
h3 {
  font-size: 36px;
  font-weight: 400;
}
h4 {
  font-size: 24px;
  font-weight: 400;
}

// Buttons
.btn {
  @extend %btn;

  &-download::after {
    content:"\f019";
    display: block;
    font-size: 20px;
  }
}
