.header-wrapper {
  background-color: $headerBgColor;
  width: 100%;
  height: 150px;

  .contact {
    @include display-flex-end;

    div {
      padding: 10px 20px;

      i {
        color: $iconColor;
        display: inline-block;
      }

      p {
        color:$colorHEaderFont;
        display: inline-block;
      }

      select {
        margin-top: 15px;
      }
    }
  }
}
