.jumbo-wrapper {
  background-image: url("../img/hero.jpg");
  @include bg-property;
  height: 500px;

  .small-wrapper {
  @include margin-container;
  @include display-flex-end;
  }
}
.painting-software {
  @include jumboDiv;
  background-color: transparent;
  color: $colorMainMenuFont;
  // width: 400px;

  *:not(:last-child) {
    padding-bottom: 20px;

    i {
      color: $colorHeaderFont;
    }
  }

  a {
    text-decoration: none;
  }
  .btn {
    width: 250px;
    background-color: $colorBgDwnBtn;

    &-download {
      border-right: 1px solid #fff;
    }
  }
}
.offer {
  background-color: $headerBgColor;
  margin-top: 50px;

  .offer-wrapper {
    width: 95%;
    margin: auto;
    height: 100%;
  }
}
.price-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;

  h4 {
  color: $colorFontBtn;
  font-size: 24px;
  padding-bottom: 3px;
  }

  h5 {
  color: #878787;
  font-size: 14px;
  }
}

.limited {
  margin-top: 40px;
  padding: 5px;
  background-color: #E6E6E6;

  h4 {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
  }

  small {
    font-weight: 300;
    padding-bottom: 5px;
    white-space: nowrap;
  }

  a {
    text-decoration: none;
    color: $iconColor;
    padding-bottom: 5px;
    display: block;

  }
}
