@mixin display-flex-end {
  display: flex;
  justify-content: flex-end;
}
@mixin li-inline {
  display: inline-block;
  list-style: none;
}
@mixin margin-container {
  max-width: 1024px;
  margin: auto;
}
@mixin bg-property {
  background-repeat: no-repeat;
  background-size: cover;
}
@mixin jumboDiv {
  height: 450px;
  margin-top: 50px;
}
