@mixin display-flex-end {
  display: flex;
  justify-content: flex-end;
}
@mixin li-inline {
  display: inline-block;
  list-style: none;
}
@mixin margin-container {
  max-width: 1024px;
  margin: auto;
}
@mixin bg-property {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@mixin jumboDiv {
  height: 420px;
  margin-top: 80px;
}
%btn {
  display: block;
  padding: 5px 10px;
  text-transform: uppercase;
  color: $colorFontBtn;
}
